/* IMPOSTAZIONI GENERALI */

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
body{
    background-image: url(../img/sfondo.png);
}

nav{
    background: linear-gradient(to bottom, #d3ebf3 0%, #61b0e2 100%);
    text-transform: uppercase;
    /* background-color: rgb(19, 122, 122); */
    box-sizing: border-box;
    width: 450px;
    height: 250px;
    display: inline-block;
    padding: 16px;
    text-align: center;
    margin-inline: auto;
}
nav img{
    width: 170px;
}
main{
    background-color: whitesmoke;
    margin-inline: auto;
    margin-top: 10px;
    width: 398px;
    height: auto;
    text-align: left;
    padding: 29px;
    /* display: inline-block; */
}
main + p{
    color: rgb(164, 159, 159);
}

main p span{
    color: blueviolet;
}

.novità{
    background-color: gray;
    padding: 7px;
    text-align: left;
    margin-top: 10px;
}
.novità span{
    text-align: center;
}
footer{
    background-color: blueviolet;

}
iframe{
    width: 100%;
    border-radius: 10%;
}